.baumans-regular {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Baumans", sans-serif;
    margin: 0px;
    
}

main {
    margin: 50px;
}

header {
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

header, footer {
    background-color: gray;
    margin: 0px;
    padding: 15px;
}

header, footer {
    text-align: center;
}

header > h1 {
    margin: 0px;
    font-size: 2.5em;
}

a {
    margin-right: 10px;
}

a:link, a:visited {
    color: black;
    text-decoration: unset;
}

a:hover {
    color: blue;
    text-decoration: unset;
}

img {
    width: 300px;
}

footer > p {
    margin: 0px;
    padding: 20px;
}

.placeholder {
    display: flex;
}

.placeholder {
    display: flex;
}

.placeholder > img {
    padding-bottom: 20px;
}

.placeholder > div {
    padding-left: 30px;
}


@media only screen and (max-width: 768px){
    .placeholder {
        display: block;
    }
    .placeholder > div {
        padding-left: 0px;
        padding-bottom: 20px;
    }
    form > textarea {
        max-width: 80%;
    }
}